.card {
  margin: 47.25px 0 0;
  width: 282px;
  height: 361px;
  background-color: white;
  border-radius: 10px;
}

.card__image {
  border-radius: 10px 10px 0 0;
  margin: 0;
  width: 282px;
  height: 282px;
}

.card__info {
  margin: 20px 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__name {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}

.card__like-button {
  margin: 0;
  width: 21px;
  height: 18px;
  background-color: rgb(0, 0, 0, 0);
  background-image: url("../images/like-button.svg");
  border: none;
}
