.card {
  background-color: white;
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
}

.card__image {
  margin: 0;
  width: 282px;
  height: 282px;
}

.card__info {
  max-width: 280px;
  margin: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__name {
  max-width: 220px;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  margin: 0;
  width: 21px;
  height: 18px;
  background-color: rgb(0, 0, 0, 0);
  background-image: url("../images/like-button.svg");
  border: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
