.header {
  padding-top: 45px;
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
}

.header__logo {
  margin: 0;
  width: 172px;
  height: 33px;
  padding: 0 0 41px 0;
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
  }

  .header__logo {
    margin: 0 0 32px 27px;
    padding: 0;
    width: 126px;
    height: 24px;
  }