.nav {
  width: 100%;
}

.nav__logo {
  margin: 0;
  width: 172px;
  height: 33px;
  padding: 0 0 41px 0;
}

.nav__border {
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.7;
  background-color: #545454;
}

@media screen and (max-width: 320px) {
  .nav {
    max-width: 100%;
  }

  .nav__logo {
    margin: 28px 0 32px 27px;
    padding: 0;
    width: 126px;
    height: 24px;
  }
}
