.page {
  height: 100vh;
  min-height: 100vh;
  padding: 0 200px 0;
  background-color: black;
}

@media screen and (max-width: 1000px) {
  .page {
    padding: 45px 125px 0;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 45px 25px 0;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 28px 0 0;
  }
}
